* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  margin: auto;
  width: 30%;
  margin-top: 50px;
}
@media only screen and (max-width: 800px) {
  form {
    margin: auto;
    width: 50%;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 500px) {
  form {
    margin: auto;
    width: 80%;
    margin-top: 50px;
  }
}

form h1 {
  margin: 50px auto;
}

@media only screen and (max-width: 300px) {
  form h1 {
    margin: 50px auto;
    font-size: small;
  }
}

form label {
  color: rgb(65, 65, 65);
}

form input,
form select,
form textarea {
  padding: 15px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 25px;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 0.5em;
  color: rgb(156, 93, 93);
}
form input[type="checkbox"] {
  margin: 0;
  margin-left: 10px;
  width: auto;
}
button,
form input[type="submit"] {
  background-color: rgb(31, 28, 70);
  color: white;
  border: none;
  padding: 15px;
  width: 100%;
  margin: 0;
}
