* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#meni {
  background-color: rgb(129, 129, 218);
  overflow: hidden;
  height: 100px;
  position: relative;
}
.meni-items {
  position: absolute;
  bottom: 15px;
}
#meni a {
  margin: 15px;
}

@media only screen and (max-width: 499px) {
  .meni-items {
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%;
  }
  #meni a {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
}
@media only screen and (min-width: 800px) {
  #grupe {
    width: 40%;
    float: right;
  }

  #studenti {
    width: 60%;
    float: left;
  }
}

#grupe table {
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

#grupe td,
#grupe th {
  border: 1px solid #ddd;
  padding: 8px;
}

#grupe th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #7ea5e4;
  color: white;
}
@media only screen and (max-width: 800px) {
  #grupe table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 90%;
  }
}
@media only screen and (max-width: 499px) {
  #grupe th:nth-child(2),
  #grupe td:nth-child(2),
  #grupe th:nth-child(3),
  #grupe td:nth-child(3) {
    display: none;
  }
}

#studenti {
  padding: 20px;
}

#studenti ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 180px));
  grid-gap: 10px;
  list-style-type: none;
}

#studenti ul li {
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
