* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#meni {
  background-color: rgb(129, 129, 218);
  overflow: hidden;
  height: 100px;
  position: relative;
}
.meni-items {
  position: absolute;
  bottom: 15px;
}
#meni a {
  margin: 15px;
}

@media only screen and (max-width: 499px) {
  .meni-items {
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  #meni a {
    display: block;
    text-align: center;
    margin: 15px;
  }
}

#odabirVjezbe {
  margin: auto;
  width: 70%;
  padding: 10px;
}
#odabirVjezbe div {
  text-align: center;
  background-color: rgb(217, 224, 235);
  margin-bottom: 10px;
  padding: 10px 0;
  width: 100%;
  display: block;
  border: none;
  font-size: 1rem;
}
#odabirVjezbe div div {
  background-color: rgb(132, 142, 194);
  margin-top: 10px;
  margin-bottom: -10px;
  text-align: left;
  padding: 0;
}
#odabirVjezbe div div button {
  text-align: center;
  background-color: rgb(180, 196, 218);
  padding: 10px;
  border: none;
  font-size: 0.6rem;
  display: inline;
  margin: 5px;
}

.graf {
  margin: auto;
  width: 70%;
  padding: 20px;
}
.graf h4 {
  text-align: center;
  display: block;
  background-color: rgb(176, 176, 235);
}
.graf img {
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .omotac {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #odabirVjezbe {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: auto;
    width: 100%;
    padding: 10px;
  }
  .graf {
    margin: auto;
    width: 90%;
    padding: 20px;
  }
}
